<!DOCTYPE html>
<html>
   <head>
      <title>Home</title>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
   </head>
   <body>
        {% include "navbar.html" %}
        <br><br><br>
         <div class="container-fluid">
             <center>
                <div class="row">
                   <div class="col-sm-4"></div>
                   <div class="col-sm-4">
                       <div class="panel panel-default" align="left">
                           <div class="panel-heading"><h2>Menu</h2></div>
                           <div class="panel-body">
                               <div class="list-group" align="left">
                                   <a href="#" class="list-group-item">Add New Face</a>
                                   <a href="#" class="list-group-item">Stream</a>
                                   <a href="log" class="list-group-item">Log Report</a>
                                   <a href="#" class="list-group-item">Statistic</a>
                                   <a href="#" class="list-group-item">Registered Face</a>
                                   <a href="#" class="list-group-item">Notification</a>
                                   <a href="#" class="list-group-item">Unlock Door</a>
                                   <a href="setting" class="list-group-item">Settings</a>
                               </div>
                           </div>
                       </div>
                   </div>
                   <div class="col-sm-4"></div>
                </div>
             </center>
         </div>
   </body>
</html>